.dropdown {
  background-color: #ddd;
  width: 55%;
  position: absolute;
  top: 83px;
  left: 345px;
  border-radius: 5px;
  padding: 20px 0px;
  z-index: 100;
}

.dropdown__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dropdown__btn {
  text-align: center;
  margin: 30px;
}
.dropdown__related {
  margin: 20px 65px;
  font-weight: 600;
}
